# Admin Credentials
ADMIN_USERNAME=admin
ADMIN_PASSWORD=your_secure_password_here

# Cleaner Credentials
CLEANER_PASSWORD=cleaner

# API Configuration
API_HOST=0.0.0.0
API_PORT=8000
FRONTEND_APP_URL=https://localhost:2000
CORS_ORIGINS=["https://localhost:2000","https://127.0.0.1:2000","https://192.168.20.233:2000","http://localhost:2000","http://127.0.0.1:2000","http://192.168.20.233:2000"]
